<!doctype html>
<title >My cartoonify app</title>
<head>
<style>
.content {
  max-width: 500px;
  margin: auto;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  border: 3px solid black;
}

</style>
</head>
<div class="center">
<h1>My cartoonify app</h1>
</div>
<div class="content">
<h3>Select a file to upload</h3>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
        {{ messages[0] }}
	  {% endif %}
	{% endwith %}
</p>
<form method="post" action="/cartoonify" enctype="multipart/form-data">
    <dl>
	<p>
		<input type="file" name="file" autocomplete="off" required>
	</p>
    </dl>
    <p>
		<input type="submit" value="Submit">
    </p>
</form>
</div>